*,
* ::before,
* ::after {
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.thick-line-3-4{ 
    border: 2px solid #000; 
    width: 80%; 
    margin: auto;
    margin-top: 2px; 
    margin-bottom: 2px;
 }

 .thick-line-full { 
    border: 2px solid #000; 
    width: 95%; 
    margin: auto;
    margin-top: 2px; 
    margin-bottom: 2px;
 }

 .thick-line-half { 
    border: 2px solid #000; 
    width: 66%; 
    margin: auto;
    margin-top: 2px; 
    margin-bottom: 2px;
 }



nav img
{
   height: 10px; 
}

#header-ul
{
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

#header-ul li:nth-child(1)
{
    width: 40px;
}

#header-ul li:nth-child(2)
{
    width: 40px;
}

#header-ul li:nth-child(3)
{
    width: 60px;
}

#header-ul li:nth-child(4)
{
    width: 60px;
}

#header-center img 
{
    height: 20px;
}

#header-center
{
    font-weight: bold;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    
   
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
  }

#home img{
    width: 500px;
    box-shadow: white;
}

#home {
    background-color: black;
    height: 235px;
}

#layout-home-container{
    position: relative;
    text-align: center;

}

#home-left-text {
    font-size: large;
    color: white;
    position:  relative;
    top: -185px;
    left: 70px;
}

#home-right-text {
    font-size: large;
    color: white;
    position:  relative;
    top: -160px;
    left: 560px;
}

.a-item:nth-of-type(2) img {
    height: 300px;
    width:auto;
}

.a-item:nth-of-type(3) img {
    height: 200px;
    width:auto; 
}

#about-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 100px 100px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: start;
    justify-items: center;
    font-size:small;

}

.a-item:nth-of-type(1)
{
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
}

.a-item:nth-of-type(2)
{
    grid-column: 3;
    grid-row: 1/3;
}
.a-item:nth-of-type(3)
{
    grid-column: 1;
    grid-row: 2/3;
}
.a-item:nth-of-type(4)
{
    grid-column: 2;
    grid-row: 2;
}
.a-item:nth-of-type(5)
{
    grid-column: 2;
    grid-row: 3;
}
#product-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 350px 350px 350px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
    font-size:small;
}

.p-item img {
    height: 200px;
    width:auto;
}

footer {
    background-color: #BF7631;
    
}

#footer-container {
    display: grid;
    width: fit-content;
    grid-template-columns: 125px 125px 200px 125px 125px 125px;
    grid-template-rows: 60px 20px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
    justify-items: center;
    font-size:small;
}

    
.f-item img {
    height: 50px;
    width:auto;
} 

.f-item:nth-of-type(6)
{
    grid-column: 1/3;
    grid-row: 2;
}

.f-item:nth-of-type(7)
{
    grid-column: 3/5;
    grid-row: 2;
}

.f-item:nth-of-type(8)
{
    grid-column: 6;
    grid-row: 2;
}

