*,
* ::before,
* ::after {
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

nav img
{
   height: 10px; 
}

.header-ul
{
    list-style-type: none;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.header-ul li:nth-child(1)
{
    width: 40px;
}

.header-ul li:nth-child(2)
{
    width: 40px;
}

.header-ul li:nth-child(3)
{
    width: 60px;
}

.header-ul li:nth-child(4)
{
    width: 60px;
}

.header-center img 
{
    height: 40px;
}

.header-center
{
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: flex-end;
   
}